body{
        background-color:rgb(211, 186, 153);
       padding: 20px;
    }
.head{
    display:flex;
    justify-content:space-between ;
    align-items: center;
}
.logo{
width:200px;
height:100px;
background-image: url(file:///E:/knproject/WakeCup_500x500.png);
background-position: center;
background-size: cover;
border-radius: 7px;

}
.k{
background-color:rgb(211, 186, 153);
border:0px solid;
padding: 10px;
font-style:unset;
}
.k:hover,.logo:hover,.address div:hover,.box1:hover,.box2:hover,.buy:hover{
transform:scale(1.1,1.1);
transition:250ms;
}
.mainhead{
    font-family:sans-serif;
    font-size: 30px;
    padding:15px;
    padding-left: 20px;
    margin-left: 20px;
 }
 h1{
    text-align: center;
    font-family:sans-serif;
    padding:10px;
    margin:10px;
 }
 .foot{
    display:flex;
    justify-content: flex-end;
    margin-top: 150px;
   }
   .sm{
    width:39px;
    height:37px;
    margin:2px;
    
   }
   .op{
    width:39px;
    height:37px;
   }

